
<ion-list>
  <ion-item *ngFor="let user of users" lines="full">
      <ion-label slot="start">
        <h4>{{user.name}}</h4>
      </ion-label>
      <ion-label slot="end">
        <p>{{user.address.city}}</p>
      </ion-label>
  </ion-item>
</ion-list>

<h5>Obtener usuario por ID</h5>
<ion-input (input)="obtenerPorId($event)"
  inputmode="numeric"
  fill="solid"
  label="Usuario"
  labelPlacement="floating"
  helperText="Ingrese un ID numerico"
  errorText="Id invalido"
></ion-input>

<ion-card *ngIf="usuario">
  <ion-card-header>
    <ion-card-title>{{usuario.name}}</ion-card-title>
    <ion-card-subtitle>{{usuario.address.street}}, {{usuario.address.city}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-label>Contacto</ion-label>
    <p>{{usuario.phone}}</p>
    <p>{{usuario.website}}</p>
  </ion-card-content>
</ion-card>